{% extends 'AppBundle::layout.html.twig' %}

{% block core %}

<div class="container center-block" role="main">

    <div class="row text-center">
        <h3>Enregistrement d'un nouveau véhicule</h3>
    </div>
    <hr>

    <div class="row center-block">
        {% form_theme form 'AppBundle:form:fields.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'col-md-11'} }) }}
        {{ form_widget(form) }}
        <div class="pull-right">
            <input type="submit" value="Ajouter le véhicule" class="btn btn-success" />
            <a href="{{ path('process', {type: 'expertise'}) }}" class="btn btn-primary">Retour</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}