<nav class="navbar navbar-header navbar-fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{{ asset('img/logo-sineo.png') }}" alt="Sineo" width="200" style="float:left"/>
    </a>
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Expert</a>
                </li>
                <li>
                    <a href="#about">Contrôle entrée</a>
                </li>
                <li>
                    <a href="#contact">Mécanique</a>
                </li>
                <li>
                    <a href="#contact">Carosserie</a>
                </li>
                <li>
                    <a href="#contact">Cosmétique</a>
                </li>
                <li>
                    <a href="#contact">Nettoyage</a>
                </li>
                <li>
                    <a href="#contact">Photos</a>
                </li>
                <li>
                    <a href="#contact">Validation de sortie</a>
                </li>
                <li>
                    <a href="#contact">Changement de circuit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>