{% extends 'AppBundle::layout.html.twig' %}

{% block core %}

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <img src="{{ asset('img/sineo.png') }}" class="center-block" alt="Sineo" width="100"/>
            <p>Work In Progress... Formulaire de recherche à venir</p>
        </div>
    </div>

{% endblock %}