{% extends 'AppBundle::layout.html.twig' %}

{% block core %}

<div class="container center-block" role="main">

    <div class="row text-center">
        <h3>Modifier un utilisateur</h3>
    </div>
    <hr>

    <div class="row theme-showcase" role="main">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible flash-notice" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

    <div class="row center-block">
        {% form_theme form 'AppBundle:form:fields.html.twig' %}
        {{ form(form) }}

        <a href="{{ path('users') }}" class="btn btn-primary btn-block" role="button">Retour</a>
    </div>
</div>

{% endblock %}