{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

<div class="container center-block" role="main">

    <div class="row text-center">
        <h3>Inscription</h3>
    </div>
    <hr>

    <div class="col-md-8 col-md-offset-2">
        {% form_theme form 'AppBundle:form:fields.html.twig' %}
        {{ form(form) }}

        <a href="{{ path('login') }}" class="btn btn-primary btn-block" role="button">Retour</a>
    </div>
</div>

{% endblock %}
